@* login Template File*@ @(loginForm: Form[LoginData])(implicit request: MessagesRequestHeader,flash:Flash)  @main("Login") {
    <h4>Login To Application</h4>
    <form method="get" action="validatelogin1">
        <label>Login With Get</label>
        <br>
        Username: <input type="text" name="userName"></input>
        Password: <input type="password" name="password"></input>
        <input type="submit"></input>
    </form>
    <br>
    <form method="post" action="@routes.TaskList1.validatePost1">
        @helper.CSRF.formField
        <label>Login With Post</label>
        <br>
        Username: <input type="text" name="userName"></input>
        Password: <input type="password" name="password"></input>
        <input type="submit"></input>
    </form>

    @helper.form(action=routes.TaskList1.validatePost1){
        @helper.CSRF.formField
        @helper.inputText(loginForm("userName"))
        @helper.inputText(loginForm("password"))
        <div class="form-actions">
            <button type="submit">Submit</button>
        </div>
    }

    <br>
    
    <form method="post" action="@routes.TaskList1.createUser1">
        @helper.CSRF.formField
        <label>Create a new User</label>
        <br>
        Username: <input type="text" name="userName"></input>
        Password: <input type="password" name="password"></input>
        <input type="submit"></input>
    </form>
}